@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
    --primary-font: 'popins', sans-serif;
    --secondary-font: 'lato', sans-serif;
}

*, *::after, *::before{
	padding:0;
	margin:0;
}
body{
    font-size:14px;
    font-family: var(--secondary-font);
    color:var(--dark-color);
    height:100vh;
    font-kerning: normal;
    text-rendering: optimizeSpeed;
}
.navbar-collapse {
    justify-content: end;
    margin-right: 100px;
}
.navbar-brand{
    margin-left: 100px;
}
.text{
    font-size: 60px;
    color: red;
}
/* ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: bold;
}

ul li a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}

.active{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.in-active{
   border: none;
} */